*{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 231, 238);

}
.album-container{
    margin: 4rem;
    background-color: rgb(189, 208, 208);
    color: rgb(17, 18, 18);
    font-size: 2rem;
    text-align: left;
    padding: 1rem;
}
.btn{
    margin: .5rem;
    padding: .5rem;
}
.redbtn{
background-color: 'red';
color: 'white';
}
.line{
    background-color: blueviolet;
    padding: .1rem;
    margin: .1rem;
    border-radius: 20;
}
